<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlink}}
  </head>
  <body>
    {{>header}}
    <h1>welcome to my about page</h1>
    <!-- navbar end  -->
    <!-- <h1 id="id">Welcome to Nodejs World</h1> -->

   {{>footer}}
  </body>
</html>