<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlink}}
  </head>
  <body>
      {{>header}}
    <h1 id="id">Welcome to Nodejs World</h1> 

    <h1>hello this is my hbs project</h1>

   {{>footer}}
  </body>
</html>


